.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

Button {
    margin: 10px;
}

.buttonSubmit:hover {
    background-color: #00910c;
    color: #fff;
}

.buttonCancel:hover {
    background-color: #740000;
    color: #fff;
}