


.butt {
background-color: #00042c;
color: #FFF;
margin: 15px;

}
#buttonADD:hover {
background-color: #006f14;
color: #FFF;
}

#buttonREST:hover {
    background-color: #7d0000;
    color: #FFF;
    }